.blogs-grid{
    display: grid;
    grid-template-columns: auto auto auto;
  } 

  .spinner {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #A94779; /* Blue */
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    animation: spin 2s linear infinite;
    margin: auto;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }