.outer-container{
    background-color: #b8bed0;
    width: 100%;
    height: 100%;
  }
  .inner-container{
    background-color: #e4e6ec;
    max-width: 60%;
    margin: 3rem auto;
    padding: 1rem;
  }
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: end;
  }
  .navbar .btn{
    height: 2rem;
    border-radius: 8px;
    background-color: #ea4c89;
    border: none;
    color: #e4e6ec;
    cursor: pointer;
  }
  .blogs-container{
    margin: auto;
    max-width: 75%;
  }
  